$primary: #f8a555;           // Laranja Primário
$primary-dark: #ee5e16;
$secondary: #3c868f;         // Azul Esverdeado Secundário
$secondary-dark: #316e75;    // Tom mais escuro do secundário
$success: #3c868f;
$danger: #e74c3c;
$warning: #f39c12;
$light: #f8f9fa;
$dark: #333333;              // Ajustado
$gray: #777777;              // Ajustado
$gray-light: #e9ecef;
$bg: #f4f4f4;
$card-bg: #ffffff;           // Ajustado
$border-radius: 10px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$transition: all 0.2s ease-in-out;