<section id="sobre" class="about">
    <div class="container about-content">
        <div class="about-image">
            <img src="../../../assets/img/Img_2.jpg" alt="Imagem sobre a empresa" />
        </div>
        <div class="about-text">
            <h2>Sobre Nós</h2>
            <p>A ChegAí nasceu com a missão de tornar o recebimento de encomendas mais seguro e conveniente para moradores de condomínios. Sabemos que nem sempre é possível estar em casa para receber suas entregas, por isso oferecemos uma solução simples: notificações em tempo real assim que seu porteiro recebe sua encomenda.</p>
            <p>Somos uma equipe apaixonada por tecnologia e praticidade, comprometida em melhorar o dia a dia dos moradores de condomínios com uma solução que une segurança e conveniência.</p>
            <p>No Condomínio Parque dos Castanheiros, garantimos que cada encomenda seja tratada com o mesmo cuidado que você teria, até que esteja em suas mãos.</p>
        </div>
    </div>
</section>