<section class="hero">
    <div class="container hero-content">
        <h1>Condomínio Parque dos Castanheiros</h1>
        <h2>Suas encomendas, sempre seguras com o porteiro</h2>
        <p>Evite transtornos! Deixe suas entregas com a portaria do prédio e receba notificações em tempo real pelo WhatsApp quando chegarem.</p>
        <div class="hero-buttons">
            <a href="#contato" class="btn-primary">Cadastre-se agora</a>
            <a href="#como-funciona" class="btn-secondary">Como funciona</a>
        </div>
    </div>
    <img class="hero-background-image" src="../../../assets/img/Img_1.jpg" alt="" />
</section>
